//map
#map-container {
    height: 100%;
}

.map-element {
    height: 100%;
}


//Markers

.info-ele{
}
.info-windows{
    text-align: center;
    justify-content: center;
}
.info-img{
}
.info-title{
    font-weight: bold;
}
.info-address{
    
}