@import './leftSection/leftSection.scss';
@import './rightSection/rightSection.scss';

body{
  
}
//left section
#left-section {
  position: fixed;
  width: 40vw;
  height: 100vh;
}

//right section
#right-section {
  margin-left: 42vw;
  display: flex;
  flex-direction: column;
}