
@import 'mixins';
@import './leftSection/leftSection.scss';
@import './rightSection/rightSection.scss';
@import './search/search.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
body{
  font-family: 'Raleway', sans-serif;
  margin:0;
    color: #515151;
}
//left section
#left-section {
  margin-top:70px;
  position: fixed;
  width: 50vw;
  height: 92vh;
}

//right section
#right-section {
  margin-left: 50vw;
  display: flex;
  flex-direction: column;
}
@include maxMQ(1100px) {
  #left-section {
    width: 350px;
  }
  #right-section {
    margin-left: 350px;
  }
}
@include maxMQ(850px) {
  #layout-container{
    display:flex;
    flex-direction: column;
  }
  #left-section {
    position: relative;
    width: 100%;
    height: 500px;
    order:1;
  }
  #right-section {
    margin-left: 0px;
    order:2;
  }
}
@include maxMQ(650px) {
  #left-section {
    margin-top:0px;
  }
  #search-container {
      position: relative;
  }
}