//search
#search-container {
    text-align: center;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    background: #889ab6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #889ab6, #cfdef3, #889ab6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #889ab6, #cfdef3, #889ab6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#search-text-container {
    text-align: left;
    flex: 1;
    flex-wrap: wrap;
    text-align: left;
}

#search-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.7em;
    margin-left:20px;
    text-decoration: none;
    color: #f7fffb;
}

#search-form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:10px;
}

.search-input {
    height:18px;
    margin: 0 6px;
    padding: 8px 8px 5px 8px;
    width: 200px;
    border-radius: 2px;
    border:none;
    border-bottom: 2px rgb(255, 255, 255) solid;
    color: #ffffff;
    font-size:17px;
    background: transparent;
    &:focus {
        outline: none;
    }
}

#search-input-location {}

#search-input-filter {}

#search-btn {
    height:40px;
    width: 140px;
    margin-left: 6px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background-color: #8cc0ab;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    -webkit-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    border-radius: 3px;
    box-shadow: #dacdba 0 0px 0px 0px inset, 0 0 3px #666;
    text-shadow: #fff 0 0 1px inset, #fff 0 0 1px inset, #fff 0 0 1px inset;
    &:hover {
      border-color: #308463;
      background: #308463;
    text-shadow:  #fff 0 0 25px;
      box-shadow: 0 0 3px #308463, 0 0 50px #308463;
    }
    &:focus {
        outline: none !important;
    }
    &:active {
        outline: none !important;
        position: relative;
        top: 2px;
    }
}

@include maxMQ(1050px) {
    #search-title {
        font-size: 1.5em;
    }
    .search-input {
        width: 120px;
    }
#search-btn {
        width: 100px;
    font-size: 0.9em;}
}

@include maxMQ(650px) {
    #search-container {
        flex-direction: column;
        padding-top: 20px;
        height: 220px;
    }
    #search-title {
        font-size: 2.5em;
    }
    #search-p {
        font-size: 0.8em;
    }
    #search-text-container {
        flex: 1;
    }
    #search-form {
        justify-content: center;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-input {
        padding: 5px;
        width: 300px;
        margin: 5px;
    }
    #search-btn {
        font-size: 1.3em;
        padding: 2px 6px;
        margin-top: 5px;
        margin-left: 0;
        width: 312px;
    }
}

@include maxMQ(450px) {
    #search-title {
        font-size: 1.7em;
    }
    .search-input {
        width: 250px;
    }
    #search-btn {
        width: 262px;
        margin-left:5px;
    }
}