
//search
#search-container {
    text-align: center;
    margin: 30px;
}

#search-title {
    font-size: 3em;
    text-decoration: none;
}

#search-p {}

#search-form {}

#search-input-location {}

#search-input-filter {}

#search-btn {}
